body{
    background-color: #7E8BFF;    
}

#main{
    width: 50%;
    text-align: center;
    background-color: beige;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 200px;
}

hr{
    margin: 10px 0px 10px 0px;
    display: block;
    border-style: inset;
    border-width: 1px;
}

.container-sm{
    text-align: center;
    
}